.jogadoresul{
    display: block ;
    margin-left: 300px;
    margin-right: 300px;
}
.jogadores{
    list-style: none;
    text-align: center;
    border: 5px solid red;
}
.nomejogadores{
    margin-left: 300px;
}